@page
@model ViewComponents.Pages.ConversationalFormModel
@{
    ViewData["Title"] = "Conversational Forms";
}

<h2>Conversational Forms</h2>

@await Component.InvokeAsync(Model.ViewComponentName, new { id = Model.Id })